# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Model files
*.joblib

# IDE
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Project specific
src/models/